<%= form_with(model: @portfolio_item, local: true) do |f| %>

<div class="container">

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :subtitle %>
        <%= f.text_field :subtitle, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class="btn btn-info">
        Upload thumb image <%= f.file_field :thumb_img, style: 'display:none' %>
        </label>
      </div>

      <div class="form-group">
        <label class="btn btn-info">
        Upload main image <%= f.file_field :main_img, style: 'display:none' %>

        </label>

      </div>


    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: "form-control", rows:10 %>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h2>Technologies Used</h2>
  <div class="form-group col-md-6">
    <%= f.fields_for :technologies do |technology_form| %>
    <p>
      <%= technology_form.text_field :name, class: "form-control" %>
    </p>
    <% end %>
  </div>

  <div class="form-group col-md-2">
    <%= f.submit(@portfolio_item.new_record? ? 'Create' : 'Update', class:'btn btn-primary btn-block') %>
  </div>

</div>
<% end %>
