
  <%= render 'shared/portfolio-jumbotron' if logged_in?(:site_admin)%>
<div class="container header">
	<div class="row">
		<div class="col-md-7">
			<img src="<%= @portfolio_item.main_img %>">

		</div>
		<div class="col-md-5">
				<h3><%= @portfolio_item.title %></h3>
	<h4><%= @portfolio_item.subtitle %></h4>
	<h5><%= @portfolio_item.body %></h5>
	<hr>
	<h4> Technology used </h4>
	<% @portfolio_item.technologies.each do |technology|%>
	<h6> <%= technology.name %> </h6>
	<% end %>

		</div>
	</div>
</div>

<div class="container">
	<% if logged_in?(:site_admin) %>
	<%= link_to 'Edit', edit_portfolio_path(@portfolio_item)  %> | 
	<%= link_to 'Delete', portfolio_path(@portfolio_item), method: :delete, data: { confirm: 'Are you sure?'} if logged_in?(:site_admin) %>
<% end %>

</div>
	

