  <div class="nav-scroller py-1 mb-2 navbar-light" style="background-color: #e3f2fd;">
    <nav class="nav d-flex justify-content-around">
      <%= link_to "Home", root_path, class:"p-2 text-dark" %>
      <%= link_to "About Me", about_path, class:"p-2 text-dark" %>
      <%= link_to "Contact us", contact_path, class:"p-2 text-dark" %>
      <%= link_to "Blog", posts_path, class:"p-2 text-dark" %>
      <%= link_to "Portfolio", portfolios_path, class:"p-2 text-dark" %>
      <%= nav_links "p-2 text-muted" %>
    </nav>
  </div>

