<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paragraph.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @paragraph.body %>
</p>

<%= link_to 'Edit', edit_paragraph_path(@paragraph) %> |
<%= link_to 'Back', paragraphs_path %>
