<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <%= render 'shared/app_nav' %>
    <%= yield %>
    <%= render 'shared/footer'%>

    <%= source_method("application") %>
  </div>

</body>
</html>
