<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="background"></div>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <div id="background"></div>
    <%#= video_tag('world.mp4',
    id: 'background',
    autoplay: true,
    loop: true,
    muted: true,) %>
    <%= render 'shared/app_nav' %>
      <%= flash_messages %>

    <%= yield %>
    <%= render 'shared/footer'%>
    <%= source_method("application") %>
  </div>
</body>
</html>
