<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/le-frog/jquery-ui.min.css' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'shared/blog_nav' %>
      <%= flash_messages %>

  <main role="main" class="container">
    <h1 class="pb-4 mb-4 font-italic border-bottom">
      Our Posts
    </h1>

    <div class="row">
      <%= yield %>
      <%= render 'shared/sidebar' %>
    </div>
  </main>

  <%= render 'shared/blog_footer' %>

</body>
<%= source_method("Blog") %>

</html>
